@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

.dir {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}

.contenedor-boton-inicio {
    margin-left: auto;
}

#boton-inicio {
    color: white;
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px;
    border: none;
    font-family: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    height: 30px;
    margin-top: 1px;
    cursor: pointer;
}


#boton-inicio:hover, .gen:hover, .paso:hover {
    color: var(--textos);
    background-color: #ddd;
}

.texto-elecciones-chico {
    font-size: 12px;
    color: var(--textos);

}
.texto-path-chico {
    font-size: 11px;
    color: var(--celeste);
}

.General {
    margin: 0 auto 50px auto;
    border-radius: 15px;
    border: 1px solid var(--borde-Grilla);
    background-color: rgb(250, 250, 250);
    color: var(--titulo-grilla);

}

.celdas1 th {
    color: var(--titulo-Grilla);
    padding: 10px, 20px;
    border-bottom: 1px solid var(--borde-Grilla);
    font-size: 14px;

}

td {
    background-color: rgb(255, 255, 255);
    padding: 15px 0px;
    font-size: 12px;
    border-collapse: collapse;
}
.tabla-anid {
    border: 1px solid #dddddd;  
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-collapse: collapse;
}

.texto-elecciones-chico {
    font-size: 12px;
    color: var(--textos);
    font-weight: bold;
}

.paso {
    background-color: var(--magenta);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5% 1%;
    box-sizing: border-box;
    font-size: small;
    margin-left: 1%;
    width: 8%;
    
}

.gen {
    background-color: var(--fondo-Cabecera);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5% 1%;
    box-sizing: border-box;
    font-size: small;
    margin-left: 1%;
    width: 8%;
    
}

#sec-titulo h2 {
    text-indent: 75px;
}

.mesas-comp {
    background-color: var(--celeste);
    border-radius: 10px;
    margin: 15px;
    width: 140px;
    height: 60px;
    padding: 0.5rem 1rem;
    align-items: center;
    display: flex;

}
.elec {
    background-color: var(--magenta);
    border-radius: 10px;
    margin: 15px;
    width: 140px;
    height: 60px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.part-esc {
    background-color: var(--morado);
    border-radius: 10px;
    margin: 15px;
    width: 140px;
    height: 60px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}
.mesas-comp p {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    
    
    
}

.elec p {
    color: white;
    color: #fff;
    margin-bottom: 0px;
}    

.part-esc p {
    display: flex;
    flex-direction: column;
    color: white;

   
}
.container {
    display: flex;
    flex-direction: column;
  }
.mensaje-1 {
    background-color: var(--mensaje-usuario-verde);
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFffFF;
    font-size: 12px;
    font-weight: 200px;
    text-align: center;
}

.mensaje-2 {
    background-color: var(--mensaje-usuario-rojo);
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFffFF;
    font-size: 12px;
    font-weight: 200px;
    text-align: center;
}

.mensaje-3 {
    background-color: var(--mensaje-usuario-amarillo);
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFffFF;
    font-size: 12px;
    font-weight: 200px;
    text-align: center;
}
.fa-thumbs-up, .fa-exclamation-triangle, .fa-exclamation {
    margin-right: 5px;
    font-size: 15px;
}

.agrupacion {
    width: 100px;
    height: 100px;
    padding: 5px;
    font-size: 10px;
    color: var(--textos);
}
.mesas-comp1 {
    display: flex;
    flex-direction: column;
}
.elec1 {
    display: flex;
    flex-direction: column;
}
.mesas-comp1 {
    display: flex;
    flex-direction: column;
}
.anid {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}
.tab1 {
    border: none;
    border-collapse: collapse;
 
}
td, .sep {
    padding-left: 18px;
}
.sep1 {
    padding-left: 50px;
}