@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');


.menu-principal {
    font-weight: bold;
    background-color: rgb(59, 59, 59);
    display: flex;
    align-items: center;
}



#boton-filtro {
    
    margin-left: 15px;
    border: none;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    font-family: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 23px;
    margin-top: 3px;
    cursor: pointer;

}

.texto-boton {
    margin-left: 5px;
}


#boton-inicio {
    margin-left: 640px;
    color: white;
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px;
    border: none;
    font-family: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    height: 23px;
    margin-top: 3px;
    cursor: pointer;
}

#boton-inicio:hover, #boton-filtro:hover, #boton-generales:hover {
    color: var(--textos);
    background-color: #ddd;
}

.desplegables select {
    margin-left: 8px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
}

.active {
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 11px;
    width: 100px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

#boton-generales {
    margin-right: -2px;
    margin-left: 10px;
    color: white;
    background-color: var(--celeste);
    border-radius: 5px;
    padding: 5px;
    border: none;
    font-family: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    height: 23px;
    margin-top: 3px;
    cursor: pointer;
}


.container {
    display: flex;
    flex-direction: column;
  }

.mensaje-1 {
    background-color: var(--mensaje-usuario-verde);
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFffFF;
    font-size: 12px;
    font-weight: 200px;
    text-align: center;
}

.mensaje-2 {
    background-color: var(--mensaje-usuario-rojo);
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFffFF;
    font-size: 12px;
    font-weight: 200px;
    text-align: center;
}

.mensaje-3 {
    background-color: var(--mensaje-usuario-amarillo);
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFffFF;
    font-size: 12px;
    font-weight: 200px;
    text-align: center;
}

.fa-thumbs-up, .fa-exclamation-triangle, .fa-exclamation {
    margin-right: 5px;
    font-size: 15px;
}

p {
    font-size: 14px;
    color: var(--celeste)
}

#agregar-informe {
    background-color: var(--gris-claro);
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    width: 200px;
    cursor: pointer;
}

#agregar-informe:hover {
    color: var(--textos);
}